<h1>About</h1>
<h3>Liam Neeson</h3>
<div>
    <p>William John Neeson OBE is an actor from Northern Ireland. He has received several accolades throughout his career, including nominations for an Academy Award, a British Academy Film Award, two Tony Awards, and three Golden Globe Awards.</p>
</div>